{% extends 'base.html' %}

{% block title %}
    Resume
{% endblock %}

{% block content %}
    
<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<section class="hero2">
  <h1 style="margin-top: 5%;">Mervyn Lee</h1>
  <p>Data Analyst</p>
</section>
<body>
  <main>
  </div>
  <main>  
    <div class="container">
      <div class="resume">
        <h1>Education</h1>  
      </div>
    </div>

    <div class="container">
      <div class="text1">
        <h3>The University of Hong Kong</h3>
      </div>
      <div class="text2">
        <h3>Sep 2016 - Dec 2020</h3>
      </div>
    </div>
    <div class="container">
        <p>Bachelor of Economics and Finance</p> 
    </div>

    <div class="container">
    </div>

    <div class="container">
      <div class="text1">
        <h3>Chong Gene Hang College</h3>
      </div>
      <div class="text2">
        <h3>Sep 2010 - Aug 2016</h3>
      </div>
    </div>

    <div class="container">

        <p>Chinese Language(5*) Mathematics(5) English Language(4) Studies(5) Chemistry(4) Physics(5)</p> 
    </div>

    <div class="container">
    </div>

    <div class="container">
      <div class="resume">
        <h1>Work Experience</h1>  
      </div>
    </div>

    <div class="container">
      <div class="text1">
        <h3>HKT Digital Venture - Data Analytics Executive</h3>
      </div>
      <div class="text2">
        <h3>Jun 2022 - Present</h3>
      </div>
    </div>

    <div class="container">
      <ul>
        <li>Data Mining from SQL server</li>
        <li>Regular reports</li>
      </ul>
    </div>

    <div class="container">
    </div>

    <div class="container">
      <div class="text1">
        <h3>Venturenix Limited- Researcher</h3>
      </div>
      <div class="text2">
        <h3>Dec 2021 - Apr 2022</h3>
      </div>
    </div>

    <div class="container">
      <ul>
        <li>Data talents recruitment</li>
      </ul>
    </div>

    <div class="container">
    </div>

    <div class="container">
      <div class="resume">
        <h1>Skills</h1>  
      </div>
    </div>

    <div class="container">
      <section class="section-skills">
        <ul>
          <li>Oracle SQL</li>
          <li>Power BI</li>
          <li>Tableau</li>
          <li>Python</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
      </section>
    </div>

    <div class="container">
    </div>

    
    <div class="container">
    </div>
    
    <div class="container">
    </div>
    
    <div class="container">
    </div>
    
    <div class="container">
    </div>
  </main>
</body>

</html>
{% endblock %}



